@import "../core/variables.scss";

.form {
  background-color: #0e1b24;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 15px;
  &__btn {
    background-color: transparent;
    color: white;
    padding: 7px;
    border: solid 2px white;
    border-radius: 50%;
    position: absolute;
    right: 15px;
    top: 100px;
    font-family: "Harry potter";
    font-size: 20px;
    cursor: pointer;
    &:hover {
      background-color: white;
      color: $mainColor;
      transform: scale(130%);
    }
    @media (min-width: 780px) {
      right: 35px;
      top: 85px;
      font-size: 30px;
      top: 170px;
    }
  }
  &__reset {
    position: absolute;
    right: 25px;
    top: 165px;
    height: 25px;
    border: none;
    border-radius: 5%;
    box-shadow: 2px 2px 5px rgba(255, 255, 255, 0.8);
    font-family: "Harry potter";
    letter-spacing: 1px;
    font-size: 20px;
    cursor: pointer;
    &:hover {
      transform: scale(130%);
    }
    @media (min-width: 780px) {
      top: 270px;
    }
  }
}
