@import "../core/variables.scss";

.header {
  background-image: url("https://assets.puzzlefactory.pl/puzzle/346/995/original.jpg");
  height: 150px;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  @media (min-width: 780px) {
    background-size: cover;
    height: 250px;
    background-position-y: 30%;
  }
  &__title {
    font-family: "Harry potter";
    font-size: 65px;
    color: white;
    @media (min-width: 780px) {
      font-size: 100px;
    }
  }
  &__container {
    position: absolute;
    top: -20px;
    left: -20px;
    @media (min-width: 780px) {
      top: 5px;
      left: 5px;
    }
  }
}
